/* ------------------------------------ */
/* ------------------------------------ */
/*            STYLE GENERAL             */
/* ------------------------------------ */
/* ------------------------------------ */

* {
	margin : 0px;
	padding : 0px;

	font-family : Avenir, sans-serif;
}


body { background : #F5F5F5; }


header {
	padding-top    : calc( 15vh / 2 );
	padding-bottom : calc( 15vh / 2 );

	background: #229954;

	color : white;
	text-align: center;
	font-size : 1.5em;
}




hr {
	border : 0;
	margin : 0 0 4% 0;
	padding : 0;

	border-top : solid 2px #DBDBDB;

	width : 100%;
}


a, a:visited {
	color : black;
	text-decoration: none;
}


/* PARTIE - Navigation */

nav#menu {
	position : fixed;

	width: 10%;

	padding : 1% 1% 1% 0;
}

nav#menu img {
	width : 20%;

	margin : 0 5% 0 10%;
}

nav#menu > ul { padding-left : 1%; }


nav#menu li, nav#menu li a:visited {
	padding : 10%;

	color : #7A7A7A;

	list-style : none;

	border-radius: 3px;
}

nav#menu li ul { display : none; }

nav#menu li li, nav#menu a, nav#menu li li a:visited { color : #4A4A4A }
nav#menu li li + nav#menu li li a {
	padding : 5%;
	margin-left : 5%;
}

nav#menu li:hover ul { display : block; }

nav#menu li li:hover, nav#menu li li a:hover { color : #229954; }

nav#menu li.partie:hover {
	box-shadow: 0 0 1em #88888888;
	background : white;
}


nav#menu li.choix ul { display : block; }

nav#menu li#choixPage {
	color : #229954;
	font-weight: bold;
}

nav#menu li#choixPage a:visited { color : #229954; }



/* ------------------------------------ */
/* ------------------------------------ */
/*           STYLE PARCOURS             */
/* ------------------------------------ */
/* ------------------------------------ */

div#parcours {
	width : 65%;

	float : left;

	margin : 0 1% 4% 15%;
}

div#parcours article {
	float : left;

	width : calc( 48% - 2% - 3% - 4px );
	min-width : 70px;

	padding : 0 2% 2% 2%;
	margin  : 3% 3% 0 0;

	box-shadow: 0 0 2em #88888888;
	border-radius: 1px;

	background: white;

	text-align : justify;
}


div#parcours h2 {
	padding : 8% 0 4% 0;
	font-size:xx-large;
	font-weight: 500;
}






/* ------------------------------------ */
/* ------------------------------------ */
/*            STYLE CONTACT             */
/* ------------------------------------ */
/* ------------------------------------ */

div#contact {
	width : 17%;
	height : 100vh;

	padding : 1%;

	float : left;
}


div#contact > figure img {
	width : 85%;
	box-shadow: 0 0 1em #88888888;

	margin: 6% 0 5% calc((100% - 85%) /2);
}


div#contact > figure figcaption {
	text-align: center;
	color : #4A4A4A;
}


div#contact div figure { margin : 5% 0 5% 0; }

div#contact div img { width : 10%; }

div#contact div figcaption {
	float : right;

	width : 80%;

	padding : 0 5% 0 5%;
}

div#contact hr { margin : 8% 0 8% 0; }



/* section#parcours {
	display: flex;
	flex-wrap: wrap;
}

.div1 {
	flex: 1 0 calc( 48% - 2% - 3% - 4px );
}

.div2, .div3, .div4 {
	flex: 1 calc( 48% - 2% - 3% - 4px );
}

.div3 {
	align-self: flex-start;
} */




/* ------------------------------------ */
/* ------------------------------------ */
/*             STYLE PAGES              */
/* ------------------------------------ */
/* ------------------------------------ */
body.page section  { margin-left : 15%; }
body.page div.page { margin-left: 20%; }

div.page { width : 75%; }

div.page nav {
	width : 100%;

	padding : 2% 0 2% 0;
	margin : 1% 0 0 0;
}


div.page nav li.choix {
	color : white;
	background: #229954;
	box-shadow: 0 0 1em #88888888;
}

div.page nav li {
	float: left;

	width : 15%;

	list-style: none;

	text-align: center;

	padding : 1% 0 1% 0;

	border: solid 1px #229954;
	background : white;

	margin-right : 2%;

	border-top-right-radius : 5px;
	border-top-left-radius  : 5px;
}

div.page hr {
	width: 90%;

	border-top : solid 1px #DBDBDB;
}


div.page li:hover { color : #229954; }



/* PARTIE PROJET */

section#projet { display: none; }

section#projet #fichierTxt { display: none; }



input[type = "radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border: 2px solid #88888888;
	outline: none;
	transition: 0.2s all linear;
}

input[type = "radio"] { border-radius : 50%; }
div.boutons { margin-bottom : 1%; }

input[type = "radio"]:checked, input[type = "checkbox"]:checked {
	border-color     : #229954;
	background-color : #229954;
}


button {
	position : fixed;

	right : 2%;
	bottom : 2%;

	background : #229954;
	color : white;
	border : 0px;
	padding : 1%;

	box-shadow: 0 0 1em #88888888;

	margin : 0 2% 2% 0;

	font-size :medium;
}

button:active {
	background : white;
	color : #229954;
	border : solid 1px  #229954;
}

input[type = "text"] {
	width : 70%;
	height: 20vh;

	border : solid 1px #88888888;
	border-radius: 3px;

	margin : 2% 10% 2% 10%;

	padding : 2%;
}

input[type = "text"]:focus {
	outline : none;
	border : solid 2px #229954;
	box-shadow: 0 0 1em #88888888;
}


input[type = "file"]::file-selector-button {
	background : #229954;
	color : white;

	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}


input[type = "file"]::file-selector-button:active {
	background-color: white;

	color : #229954;
}


input[type = "file"] {
	background : white;
	color : #229954;

	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

input[type = "file"], input[type = "file"]::file-selector-button {
	width: 50%;
	height : 5vh;

	font-size :medium;

	border : solid 1px #229954;
}


section#projet div#fichierTxt { width: 60%; }



div#photo {
	width : 30%;
	height : 50vh;
	background : white;

	border : solid 1px #229954;

	margin-left : 27%;

	position: relative;
}

section#projet input[type = "file"]#fichierPhoto { display : none; }

section#projet div#photo label#labelFichierPhoto {
	position : absolute;
	bottom : 0;
	left : 0;

	width : 94%;
	text-align: center;
	padding : 3% 0 3% 0;

	background : #F5F5F5;

	margin : 3%;

	border-radius : 6px;

	box-shadow: 0 0 5px #88888888;
}


section#projet div#photo label#labelFichierPhoto:active {
	background : white;
	color : #229954;

	border : solid 1px #229954;
}

section#projet div#photo label#labelFichierPhotoSelect {
	background : #229954;
	color : white;
}


section#projet img {
	width: 60%;
	
	margin : 8% 20% 0% 20%;

	opacity: 0.7;
}


/* ------------------------------------ */
/* ------------------------------------ */
/*           STYLE RESONSIVE            */
/* ------------------------------------ */
/* ------------------------------------ */


@media screen and (max-width: 600px) {
	section#parcours article {
		flex-direction: column; /* Les div vont passer en dessous l'une de l'autre */
		width : 100%;
	}

	nav {
		display : none;
	}
}




/* TITRES :     7A7A7A
   SOUS TITRES :4A4A4A 
*/