<!DOCTYPE html>
<html lang = 'fr'>

	<head>
		<title> AI Projects </title>

		<meta charset = 'utf-8'>
		<meta content = 'Author' lang = 'fr' name = 'BOULOCHE Eleonore'>

		<link rel = 'stylesheet' href = "{{ url_for('static', filename='style.css') }}" media = 'all' type = 'text/css'>

		<script src = "{{ url_for('static', filename='script.js') }}"></script>
	</head>


	<body class = "page">

		<header id = 'header'>
			<hgroup>
				<h1> AI Projects </h1>
				<p> Portfolio of my AI projects </p>
			</hgroup>
		</header>


		<!-- Menu du site -->
		<nav id = "menu">

			<ul>
				<li> <a href = "{{ url_for('index') }}"> <img src = "{{ url_for('static', filename = 'images/maison.png') }}" alt = 'Accueil'> HOME </a>  </li>

				<li class = "partie choix"> <span> PARTIE 1 </span>
					<ul>
						<li                 > <a href = "{{ url_for('pageTexte'            ) }}"> Texte </a> </li>
						<li id = "choixPage"> <a href = "{{ url_for ('pagePanneauxRoutiers') }}"> Panneaux interface </a> </li>
						<li> Panneaux 3 </li>
						<li> Panneaux 4 </li>
					</ul>
				</li>

				<li class = "partie"> <span> PARTIE 2 </span>
					<ul>
						<li> Texte 1 </li>
						<li> Texte 2 </li>
						<li> Texte 3 </li>
						<li> Texte 4 </li>
					</ul>
				</li>

				<li class = "partie"> <span> PARTIE 3 </span>
					<ul>
						<li> Texte 5 </li>
						<li> Texte 6 </li>
						<li> Texte 7 </li>
						<li> Texte 8 </li>
					</ul>
				</li>

				<li class = "partie"> <span> PARTIE 4 </span>
					<ul>
						<li> Texte 9 </li>
						<li> Texte 10 </li>
						<li> Texte 11 </li>
						<li> Texte 12 </li>
					</ul>
				</li>
			</ul>

		</nav>



		<div class = "page">
			<nav>
				<ul>
					<li id = "menuCR"                 onclick = "changementEtat(event, 'projet', 'compteRendu', 'menuPr', 'menuCR')"> Compte-rendu </li>
					<li id = "menuPr" class = "choix" onclick = "changementEtat(event, 'compteRendu', 'projet', 'menuCR', 'menuPr')"> Projet       </li>
				</ul>
			</nav>

			<hr>
		</div>


		<section id = "compteRendu">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
				incididunt ut labore et dolore magna aliqua. Pulvinar etiam non quam lacus suspendisse 
				faucibus interdum. In cursus turpis massa tincidunt dui ut ornare lectus. 
				Ac tortor dignissim convallis aenean et tortor at. Pretium lectus quam id leo in. 
				Malesuada fames ac turpis egestas integer. Cras fermentum odio eu feugiat 
				pretium nibh. Tortor vitae purus faucibus ornare suspendisse. 
				Eget egestas purus viverra accumsan. Mattis pellentesque id nibh tortor 
				id aliquet lectus proin. Non enim praesent elementum facilisis leo. Sed risus 
				ultricies tristique nulla aliquet enim tortor at auctor.
			</p>
		</section>


		<section id = "projet">

			<form action = "/uploadPhoto" method = "post" enctype = "multipart/form-data">

				<div id = "photo" onclick = "ouvrirSelecteurDeFichier()">
						{% if resultat %}
							<img src = "{{ url_for('static', filename = 'images/mail.png') }}" alt = "res de la photo" class = "imgChoisie">
						{% else %}
							<img src = "{{ url_for('static', filename = 'images/download.svg') }}" alt = "download" class = "imgChoisie">
						{% endif %}

						<input type = "file" name = "image" id = "fichierPhoto" accept = ".jpeg, .png, .jpg, .svg">
						<label id = "labelFichierPhoto"> Aucun fichier sélectionné </label>
				</div>

				<input type = "submit" value = "Send">
				<input type = "reset"  value = "Reset">
			</form>


			{% if erreur %}
				<div id = 'error'>
					<p> {{erreur}} </p>

					<button onclick = "validationErreur()"> OK </button>
				</div>
			{% endif %}


		</section>




	</body>

</html>